body{margin:0 auto; padding:0px; background:white/*#002b41*/; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2f1a1a;}

p{margin:0px; padding:0px;}

a{color:#092AAE; text-decoration:underline;}

a:hover{color:#092AAE; text-decoration:none;}

#top-wraper{
	width:100%; 
}

#banner{width:100%; float:left;background-image: linear-gradient(to bottom, #00040B 0%, #001D4C 100%); font-family:Georgia, "Times New Roman", Times, serif; font-size:40px; color:#fff; padding:60px 60px 60px 120px;}

h2{background:url(../images/divider-2.jpg) bottom no-repeat; display:block; width:280px; margin:0px 0px 10px 0px; padding:0px 0px 8px 15px; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#2f1a1a; font-weight:normal;}

h3{background:url(../images/divider-4.jpg) bottom no-repeat; display:block; width:224px; margin:0px 0px 10px 0px; padding:0px 0px 8px 10px; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#2f1a1a; font-weight:normal;}

h4{background:url(../images/divider-3.jpg) bottom no-repeat; display:block; width:224px; margin:0px 0px 10px 0px; padding:0px 0px 8px 10px; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#fff; font-weight:normal;}

.deleteFile:hover {cursor:pointer;}
.fileName:hover {color:red; cursor:pointer;}
.mainbar
{
	width:	80em;
	float:	left;
}
.attribute{
	height:	4em;
	width:	10em;
	float:	left;
}
#tabs
{
	border-radius:	.5em;
	overflow:		auto;
	float:			left;
	width:			99%;
	margin-top: 1em;
}
  #tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
  
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
	  color:	white;
  }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	background-color:	#0F264B;
}
button{
	padding:			.25em;
}
ul{
list-style-type:none;
}
li{
	font-family:	Verdana, Geneva, sans-serif;
	font-size:		1em;
}
#sidebar{
	vertical-align:text-top;
}
.value{
	width:	50px;
}
.values{
	max-height:		500px;
	width:		494px;
	overflow:	scroll;
}
.heading{
	width:	50px;
	float:	left;
	font-weight:bold;
}
/*footer*/
#bodyFooter{
	background: 	#E4E8DE;
	height: 		80px;
	width:			100%;
	margin-top:	70px;
}
div.footer_logo{
	float: 			left;
	padding-top:	1em;
	width: 			200px;
	margin:			0 0 0 2em;
}
div.footer_text{
	float: left;
	font-size: 		0.62em;
	color: 			#686964;
	padding: 		0.43em 0 0.43em 0;
	padding-top:	1em;
	line-height: 	1.4em;
}
div.footer_nsf{
	float: 			right;
	font-size: 		0.62em;
	color: 			#686964;
	line-height: 	1.4em;
}
div.footer_text a{ color: #686964; }
div#utility ul li{ 
	display: inline;
	padding: 0 0.5em 0 0;
	border-right: 1px solid #686964;
}
div#utility ul li.last{
	border-right: none;
}