#csvTable{
    border-collapse:collapse;
    cellpadding:5;
}
body{
    color : black;
    background-color : rgb(255,255,255);
    font-family:sans-serif;
}

h1, h2, h3, h4, h5, h6{
    margin:0px;
    padding:0px;
}

.title{
    position:absolute;
    top:0px;
    left:0.5em;
    height:1em;
    margin-left : auto;
    margin-right: auto;
    padding: 5px;
    z-index : 0;
}

.sidebar{
    position : absolute;
    top : 5em;
    left : 1%;
    width : 11em;
    z-index : 1;
    padding : 0em;
}

.menu
{
    padding : 0.5em;
    margin-bottom : 0.5em;
    text-align : center;
    border : thin solid rgb(0,0,0);
    font-weight : bold;
}

.menu a
{
    display : block;
    color : rgb(0,0,0);
    background-color : inherit;
}


.menu a:hover
{
    color : rgb(255,64,64);
    background-color : rgb(230,230,250);
}

.other
{
    padding :0.5em;
    margin-top : 0.5em;
text-align : center;
    border : thin solid rgb(0,0,0);
    background-color : inherit;
    color : rgb(0,0,0);
    font-weight : bold;
}

.Content
{
    margin-top : 5em;
    margin-left : 12em;
    padding : 1em;
    margin-right : 1em;
    color : rgb(0,0,0);
    background-color : rgb(255,255,255);
    /*border : thin solid;*/
    max-width:45em;
}

ul{
        list-style:none;
}

ul.menu
{
    list-style:none;
    margin:0px;
}

ul.menu li
{
    display:inline;
}

input[type=hidden], button{
	background-color: green;
	color:				white;
}

.element{
	background-color: #CCC;
	border:thin;
	border-collapse:collapse;
	border-color:black;
}
.fileName:hover {color:red; cursor:pointer;}

.sidebar
{
	width: 12em;
	float: left;
}
.mainbar
{
	width:40em;
	float:	left;
}
